@model VMS.Models.CheckInVM

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="position-relative form-group">
            <label class="col-sm-4 col-form-label">Location<b style="color: red;"> *</b></label>
            <input asp-for="Location" placeholder="Location" type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="position-relative form-group">
            <label class="col-sm-4 col-form-label">Organization<b style="color: red;"> *</b></label>
            <input asp-for="Organization" placeholder="Organization" type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="position-relative form-group">
            <label class="col-sm-4 col-form-label">Pass Number<b style="color: red;"> *</b></label>
            <input asp-for="PassNo" placeholder="Pass Number" type="text" class="form-control">
        </div>
    </div>
