<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"] | Gryphon ESP</title>
    <link rel="icon" href="~/UI/assets/images/coreui-icon.png" />
    <link rel="stylesheet" href="~/UI/assets/css/coreui-icons.min.css" />
    <link rel="stylesheet" href="~/UI/assets/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/UI/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/UI/assets/css/simple-line-icons.css" />
    <link rel="stylesheet" href="~/UI/assets/css/style.css" />
    <link rel="stylesheet" href="~/UI/assets/css/react-table.css" />
    <link rel="stylesheet" href="~/UI/assets/css/pace.min.css" />
    <link href="~/UI/assets/css/datepicker.css" rel="stylesheet" />
    <link href="~/UI/assets/css/time-picker.css" rel="stylesheet" />
    <script src="~/UI/assets/js/jquery.min.js"></script>
    <script src="~/UI/assets/js/notify.min.js"></script>
    <script src="~/UI/assets/js/datepicker.js"></script>
    <script src="~/UI/assets/js/time-picker.min.js"></script>
    <script src="~/UI/assets/js/select2.min.js"></script>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div class="app-body">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>



    <script src="~/UI/assets/js/popper.min.js"></script>
    <script src="~/UI/assets/js/bootstrap.min.js"></script>
    <script src="~/UI/assets/js/pace.min.js"></script>
    <script src="~/UI/assets/js/perfect-scrollbar.min.js"></script>
    <script src="~/UI/assets/js/coreui.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
s