@model VMS_ASP_NET.Models.CheckInVM

    <div class="col-sm-12 col-md-6 col-lg-12">
        <div class="position-relative form-group">
            <label class="col-sm-4 col-form-label">Location<b style="color: red;"> *</b></label>
            <input id="Location" name="Location" placeholder="Location" type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-12">
        <div class="position-relative form-group">
            <label class="col-sm-4 col-form-label">Organization<b style="color: red;"> *</b></label>
            <input id="Organization" name="Organization" placeholder="Organization" type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-12">
        <div class="position-relative form-group">
            <label class="col-sm-4 col-form-label">Pass Number<b style="color: red;"> *</b></label>
            <input id="PassNo" name="PassNo" placeholder="Pass Number" type="text" class="form-control">
        </div>
    </div>
