@model VMS_ASP_NET.Models.CheckInVM

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="position-relative row form-group">
            <label class="col-sm-4 col-form-label"> Cone # <b style="color: red;"> *</b></label>
            <div class="col-sm-8">
                    <div class="position-relative form-group">
                <input id="ConeNumber" name="ConeNumber" placeholder="Cone Number" pattern="^[0-9]+$" type="text" class="is-touched is-pristine av-valid form-control" ></div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="position-relative row form-group">
            <label for="exampleSelect" class="col-sm-4 col-form-label"> Color<b style="color: red;"> *</b></label>
            <div class="col-sm-8">
                @Html.DropDownListFor(x => x.ConeColorID, ViewBag.Colors as SelectList, "Select Color", new { @class = "form-control-sm form-control", @onchange = "fnChangeVisitorTypeForm()" })
            </div>
        </div>
    </div>
