
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MultiSelect</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <!-- jQuery & Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="~/TestFiles/dist/js/BsMultiSelect.min.js"></script>
</head>
<body>
    <select name="states" id="example" class="form-control" multiple="multiple">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option selected value="CA">California</option>
    </select>





    @*<script src="~/TestFiles/js/src/AddToJQueryPrototype.js"></script>
    <script src="~/TestFiles/js/src/Bs4Adapter.js"></script>
    <script src="~/TestFiles/js/src/Bs4AdapterCss.js"></script>
    <script src="~/TestFiles/js/src/Bs4AdapterJs.js"></script>
    
    <script src="~/TestFiles/js/src/MultiSelect.js"></script>*@

    <script>
        $(function () {
            $("select[multiple='multiple']").bsMultiSelect();
        });
    </script>

</body>
</html>
